<div id="content">
  <div class="search-bar">
    <span class="twitter-at">@</span>
    <input class="twitter-screen-name" placeholder="twitter user name"></input>
  </div>

  <div id="profile">
    <img class="picture" src="<%= @user.twitter_picture_url %>">

    <div id="profile-content">
      <% if @user.should_you_follow_me %>
        <p class="should-be-followed">YES</p>
      <% else %>
        <p class="should-not-be-followed">NO</p>
      <% end %>

      <h1 class="screen-name">
        <span class="twitter-at">@</span><%= @user.twitter_screen_name %>
      </h1>
    </div>
  </div>

<div class="metrics">
  <div class="good-metrics">
    <ol>
      <% @user.good_metrics.each_pair do |key, value| %>
        <li>
          <%= t key, scope: 'metrics' %>
          <span class="icon-stack">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-star icon-light"></i>
          </span>
        </li>
      <% end %>
    </ol>
  </div>


  <div class="bad-metrics">
    <ol>
      <% @user.bad_metrics.each_pair do |key, value| %>
        <li>
          <span class="icon-stack">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-star icon-light"></i>
          </span>
          <%= t key, scope: 'metrics' %>
        </li>
      <% end %>
    </ol>
  </div>
</div>


</div>
<div id="score-bg">
  <div class="bad"></div>
  <div class="good"></div>
</div>
