<nav class="top-bar hide-for-small">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Should You Follow Me?</a></h1>
    </li>
</nav>

<br>
<br>
<br>

<div id="twitter-user" class="large-3 large-centered columns text-center">
  <img src="/assets/user.png" />
</div>


<br>
<br>

<div class="large-3 large-centered columns">
  <!--<h1 id="title">Should You Follow Me?</h1>
  <p class="lead">Lets discover who you really should be following.</p>
  -->
  <form>
    <div class="row collapse">
      <div class="small-1 columns">
        <span class="prefix">@</span>
      </div>
      <div class="small-9 columns">
        <input type="text" class="input-text" value="" placeholder="Twitter user name" />
      </div>
      <div class="small-2 columns">
        <input type="submit" value="Search" class="button small" />
      </div>
    </div>
  </form>
</div>


<div class="large-4 large-centered columns">
  <div id="bad-result" class="small-6 columns">
    <h2>BAD</h2>
    <ul class="result panel">
      <li><i class="fi-check"></i>Because he is the Bieber</li>
      <li>Because he is the Bieber</li>
      <li>Because he is the Bieber</li>
    </ul>
  </div>
  <div id="good-result" class="small-6 columns">
    <h2>GOOD</h2>
    <ul class="result panel">
      <li>Because I don't know</li>
      <li>Because I don't know</li>
      <li>Because I don't know</li>
    </ul>
  </div>
</div>
