<div id="twitter-search-box">
  <h2>Should You Follow Me?</h2>
  <p class="description">Lets discover who you really should be following.</p>

  <form class="twitter-search" action="/search" method="post">
    <span class="twitter-at">@</span>
    <input class="twitter-screen-name" name="username"  type="text"  placeholder="Twitter user name">
    <input type="submit" value="Search">
  </form>
</div>
<form>
