<div id="twitter-search-box">
  <form class="twitter-search" action="/search" method="post">
    <span class="twitter-at">@</span>
    <input class="twitter-screen-name" name="username"  type="text"  placeholder="Twitter user name"/>
    <input type="submit"/>
  </form>
</div>
