// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#score-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;

  .bad {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background: $red;
  }

  .good {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    background: $green;
  }
}

#content {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.search-bar {
  background: #000;
  color: #fff;
  font-size: 2em;
  padding: 0.25em;

  input {
    border: none;
    background: none;
    color: #fff;
    font-size: 1em;

  }
}

#profile {
  background: #fff;

  .picture {
    @include border-radius(200px);
    width: 200px;
    height: 200px;
    margin: 1em 2em;
    display: inline-block;
    vertical-align: top;
    border: 5px solid #000;
    background: #fff;
    padding: 5px;
  }

  #profile-content {
    display: inline-block;
    vertical-align: top;
  }


  .screen-name {
  }

  .twitter-at {
    color: #ccc;
    font-size: 0.8em;
  }

  .should-be-followed {
    font-weight: bold;
    font-size: 5em;
    margin: 0.1em 0;
    color: $green;
  }

  .should-not-be-followed {
    font-weight: bold;
    font-size: 5em;
    margin: 0.1em 0;
    color: $red;
  }
}

.metrics {
  @include grid-row;

  li {
    list-style-type: none;
    font-size: 2em;
    margin-bottom: $paragraph-margin-bottom;
    font-weight: lighter;
  }
}

.good-metrics {
  @include grid-column(6);
  text-align: right;
}

.bad-metrics {
  @include grid-column(6);
}

.icon-stack-base { color: #338A99; }

.metrics {
  @include icon-stack($width: 2em, $height: 2em, $top-font-size: 1em, $base-font-size: 2em);
}

